[submodule "post/backend"]
	path = post/backend
	url = https://github.com/Far-1d/microservice-social-network-api---fastapi
[submodule "user/backend"]
	path = user/backend
	url = https://github.com/Far-1d/microservice-social-network-api---django
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/Far-1d/microservice-social-network-api---monitoring
